{{>header}}
<div class='fourteen wide column'>
{{#with contact}}
<h2 class='newContactHeader'>Edit Contact</h2>
<a href='/contacts/{{this.id}}' class='backButtonIcon'><span class='backToContacts circular ui mini button grey'>Cancel</span></a>
<form id='deleteContactForm' action='/contacts/{{this.id}}?_method=Delete' method='Post'>
  <a href='/contacts'><button class='circular ui mini button red deleteContact'>Delete</button></a>
</form>
<form id='test' action='/contacts/{{this.id}}?_method=PUT' method='post'>
    <input type='text' name='contact[firstName]' value='{{this.firstName}}' placeholder'First Name'>
    <br>
    <input type='text' name='contact[lastName]' value='{{this.lastName}}' placeholder='Last Name'>
    <br>
    <input type='text' name='contact[email]' value='{{this.email}}' placeholder='Email'>
    <br>
    <input type='text' name='contact[homePhone]' value='{{this.homePhone}}' placeholder='Home Phone'>
    <br>
    <input type='text' name='contact[cell]' value='{{this.cell}}' placeholder='Cellphone'>
    <br>
    <input type='text' name='contact[address]' value='{{this.address}}' placeholder='Address'>
    <br>
    <input type='text' name='contact[city]' value='{{this.city}}' placeholder='City'>
    <br>
    <input type='text' name='contact[state]' value='{{this.state}}' placeholder='State'>
    <br>
    <input type='text' name='contact[zipcode]' value='{{this.zipcode}}' placeholder='Zipcode'>
    <br>
    <a  href='/contacts'><button id='confirmDelete' class='circular ui mini button grey'>Save Contact</button></a>
</form>
{{/with}}
</div>
{{>footer}}
