{{>header}}
<div class='fourteen wide column'>
<h1>Show one contact</h1>
{{contact.firstName}}
{{contact.lastName}}
{{contact.email}}
{{contact.homePhone}}
{{contact.cell}}
{{contact.address}}
{{contact.city}}
{{contact.state}}
{{contact.zipcode}}
</div>
{{>footer}}
