{{>header}}

<div class='contactCard'>
<p class='contactCard_name'>{{contact.firstName}} {{contact.lastName}}</p>
<hr>
<p class='contactCard_email'>Email: {{contact.email}}</p>
<a href=mailto:{{contact.email}} ><button class='circular ui inverted button grey'>Send Email</button></a>
<hr>
<p class='contactCard_homePhone'>Home Phone: {{contact.homePhone}}</p>
<a href='tel:{{contact.homePhone}}'><button class='circular ui inverted button grey'>Call</button></a>
<hr>
<p class='contactCard_cell'>Cell Phone: {{contact.cell}}</p>
<a href='tel:{{contact.cell}}'><button class='circular ui inverted button grey'>Call</button></a>
<hr>
<p class='contactCard_addressHeading'>Address:<p>
<p class='contactCard_address'>{{contact.address}} {{contact.city}}, {{contact.state}} {{contact.zipcode}}</p>
<hr>
<div class='two ui buttons'>
<div class='ui button'>Edit Contact</div>
<div class='ui button'>Delete Contact</div>
</div>
</div>
{{>footer}}
