{{>header}}

<div class='contactCard'>
<p class='contactCard_name'>{{contact.firstName}} {{contact.lastName}}</p>
<hr>
<p class='contact.email'>Email: {{contact.email}}</p>
<a href=mailto:{{contact.email}} ><button>Send Email</button></a>
<hr>
<p class='contactCard_homePhone'>Home Phone: {{contact.homePhone}}</p>
<a href='tel:{{contact.homePhone}}'><button class='ui inverted button grey'>Call</button></a>
<hr>
<p class='contactCard_cell'>Cell Phone: {{contact.cell}}</p>
<a href='tel:{{contact.cell}}'><button>Call</button></a>
<hr>
<p class='contactCard_addressHeading'>Address:<p>
<p class='contactCard_address'>{{contact.address}} {{contact.city}}, {{contact.state}} {{contact.zipcode}}</p>
<button>Print Label</button>
<hr>
<button>Edit Contact</button>
<button>Delete Contact</button>
</div>
{{>footer}}
